{% block sw_cms_block_coming_theme_image_text_slider_preview %}
    <div class="highlight-slide">
        <div class="slide">
            <div class="content-container">
                <div class="content">
                    <p class="headline">Slider Title</p>
                    <p class="btn btn-primary">Description</p>
                    <a> Link</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
